.top-panel{
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
  width: calc(100%);
  z-index: 100;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);

  .logout{
    margin: 0 10px;
    cursor: pointer;
  }
}